Source: pixelserv-tls
Section: web
Priority: optional
Maintainer: kvic <https://github.com/kvic-z>
Build-Depends: debhelper-compat (= 13), autoconf, automake, libssl-dev (>= 1.1.1)
Standards-Version: 4.6.2
Homepage: https://github.com/kvic-z/pixelserv-tls
Rules-Requires-Root: no

Package: pixelserv-tls
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Recommends: openssl
Description: A tiny bespoke webserver for adblock
  pixelserv-tls is a tiny bespoke HTTP/1.1 webserver with HTTPS support that
  acts on behalf of hundreds of thousands of advertisement/tracker servers. It
  responds to all requests with nothing and can be configured to capture what
  ad networks and trackers intend to send them about you.
