#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	autoreconf -i
	dh_auto_configure

# The binary is built without symbols by the Makefile; the unit is installed by dh_installsystemd
override_dh_dwz:
override_dh_strip:
